html, body {
  font-size: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: futura-pt-condensed, helvetica, arial, sans-serif;
    font-weight: 500; 
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: #0000c0;
}

#container-inner {
    padding: 5vh 0;
    background-color: white;
    position: relative;
    width: 75vw;
    left: 50vw;
    transform: translate(-50%,-50%);
    top: 50vh;
}

#rectLoad {
  text-align: center;
  position: relative;
}

#rectLoad svg g rect {
  fill: #0000c0;
}

#currentProgress p {
    font-size: 1.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    margin: 0;
    color: white;
    font-family: unibody-8-new, helvetica, arial, sans-serif;
    font-weight: 400;
}

#content {
  text-align: center;
}

#timeRemaining p {
  font-family: futura-pt-bold;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
}

#currentProgress, #timeRemaining {
  margin: 4vh 0;
}

@media (max-width: 767px), (max-height: 767px) {
    #container-inner {
        width: 100vw;
        left: 0;
        transform: translateY(-50%);
    }

    #content {
        width: 90vw;
        position: relative;
        left: 5vw;
    }
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #timeRemaining p {
        font-size: 1.5rem;
    }
}